<meta name="viewport" content="width=device-width, initial-scale=1.0">

@font-face {
  font-family: "ColfaxAI";
  src:
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ColfaxAI";
  src:
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}




body,
input {
  line-height: 1.5;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: #202123;
  margin: 1rem 0 2.5rem;
}

.chat-container {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 160px;
  margin-bottom: 20px;
  overflow-y: auto; /* Ensure vertical scrolling */
  height: 80vh; /* Adjust height as needed */
}

.user-message,
.assistant-message {
  padding: 0.75rem 1rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  max-width: 80%;
  word-wrap: break-word;
  font-size: 1.5rem;
}

.user-message {
  align-self: flex-end;
  background-color: #f5deb3;
}

.assistant-message {
  align-self: flex-start;
  background-color: #f4a460;
}

.message-input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: #fff;
  display: flex;
  justify-content: center;
  height: auto;
  box-sizing: border-box;
  align-items: start;
  flex-wrap: wrap; /* allow wrapping on small screens*/
  font-size: 16px;
}

.message-input-container form {
  display: flex; /* Use flexbox to layout children */
  align-items: center; /* Align items vertically */
  width: 100%; /* Take full width to accommodate children */
}

form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

textarea {
  border: 1px solid #c5c5d2;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  width: 90%;
  resize: vertical;
  overflow: auto;
  margin: 0;
  margin-right: 10px;
  flex-grow: 1;
  padding: 8px 12px;
  box-sizing: border-box; /* Include padding in the element's total dimensions */
}

input[type="submit"],
input[type="button"] {
  padding: 0.5rem 1rem;
  color: #808080;
  background-color: #cd5c5c
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  flex-grow: 1;
  margin: 0 0.5rem;
}

input[type="submit"] {
  flex-grow: 4;
}

input[type="button"] {
  flex-grow: 1;
  background-color: #cd5c5c;
}

input[type="text"] {
  padding: 0.75rem 1rem;
  border: 1px solid #10a37f;
  border-radius: 4px;
  width: calc(100% - 80px);
}

::placeholder {
  color: #8e8ea0;
  opacity: 1;
}

.result {
  font-weight: bold;
  margin-top: 40px;
}

.typing-indicator-container {
  display: flex;
  justify-content: flex-start;
}

.typing-indicator {
  margin-left: 0.25rem;
  font-size: 16px; /* Adjust size as needed */
}

.typing-indicator::after {
  content: "•";
  animation: typing 1.5s infinite step-start;
}

@keyframes typing {
  0%,
  100% {
    content: "•";
  }
  33% {
    content: "••";
  }
  66% {
    content: "•••";
  }
}

.button-group {
  display: flex;
  align-items: center; /* Add this to vertically center the elements */
  justify-content: space-between; /* Adjust as needed */
}


#ids-container {
  font-size: 0.75rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 1.25rem;
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.header {
  flex-wrap: wrap; /* allow wrapping on small screens*/
  display: flex; /* Use flexbox layout */
  font-size: 1.4rem;
  align-items: center; /* Center items vertically */
  justify-content: flex-start; /* Align items to the start of the container */
  background-color: white;
  width: 95%; /* Ensure the header spans the full width */
  padding: 0.625rem 0; /* Add some vertical padding */
}


.message-role {
  align-self: flex-start;
  font-size: 1.75rem;
  color: #000000;
  margin-bottom: 4px;
}

.message-role.user {
  align-self: flex-end;
  text-align: right;
  width: 100%
}

#send-btn {
  width: 2.625rem;
  height: 2rem;
  border-radius: 4px;
  border: 1px solid #c5c5d2;
  background-color: #8b4513;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 599px) {
  input, select, textarea {
    font-size: 16px;
  }
}
